<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.CarInfoMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hxd.bean.CarInfo" >
	<result column="id" jdbcType="INTEGER" property="id"/>
	<result column="rentId" jdbcType="INTEGER" property="rentId"/>
	<result column="plateNum" jdbcType="VARCHAR" property="plateNum"/>
	<result column="brand" jdbcType="VARCHAR" property="brand"/>
	<result column="model" jdbcType="VARCHAR" property="model"/>
	<result column="status" jdbcType="INTEGER" property="status"/>
	<result column="imgUrl" jdbcType="VARCHAR" property="imgUrl"/>
	<result column="sId" jdbcType="INTEGER" property="sId"/>
	<result column="createDate" jdbcType="TIMESTAMP" property="createDate"/>
	<result column="delDate" jdbcType="TIMESTAMP" property="delDate"/>
	<result column="orderId" jdbcType="INTEGER" property="orderId"/>
</resultMap>
       
<!-- carInfo table all fields -->
<sql id="Base_Column_List" >
	 id,rentId,plateNum,brand,model,status,imgUrl,sId,createDate,delDate,orderId
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="rentId != null and rentId != ''" >
	    and rentId =  #{rentId}
	</if>
	<if test="plateNum != null and plateNum != ''" >
	    and plateNum =  #{plateNum}
	</if>
	<if test="brand != null and brand != ''" >
	    and brand =  #{brand}
	</if>
	<if test="model != null and model != ''" >
	    and model =  #{model}
	</if>
	<if test="status != null and status != ''" >
	    and status =  #{status}
	</if>
	<if test="imgUrl != null and imgUrl != ''" >
	    and imgUrl =  #{imgUrl}
	</if>
	<if test="sId != null and sId != ''" >
	    and sId =  #{sId}
	</if>
	<if test="createDate != null and createDate != ''" >
	    and createDate =  #{createDate}
	</if>
	<if test="delDate != null and delDate != ''" >
	    and delDate =  #{delDate}
	</if>
	<if test="orderId != null and orderId != ''" >
	    and orderId =  #{orderId}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into carInfo(id,rentId,plateNum,brand,model,status,imgUrl,sId,createDate,delDate,orderId)
 values(#{id,jdbcType=INTEGER},#{rentId,jdbcType=INTEGER},#{plateNum,jdbcType=VARCHAR},#{brand,jdbcType=VARCHAR},#{model,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{imgUrl,jdbcType=VARCHAR},#{sId,jdbcType=INTEGER},#{createDate,jdbcType=TIMESTAMP},#{delDate,jdbcType=TIMESTAMP},#{orderId,jdbcType=INTEGER})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update carInfo set rentId=#{rentId},plateNum=#{plateNum},brand=#{brand},model=#{model},status=#{status},imgUrl=#{imgUrl},sId=#{sId},createDate=#{createDate},delDate=#{delDate},orderId=#{orderId} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update carInfo set 
	<trim  suffixOverrides="," >
	<if test="rentId != null  ">
		rentId=#{rentId},
	</if>
	<if test="plateNum != null  ">
		plateNum=#{plateNum},
	</if>
	<if test="brand != null  ">
		brand=#{brand},
	</if>
	<if test="model != null  ">
		model=#{model},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="imgUrl != null  ">
		imgUrl=#{imgUrl},
	</if>
	<if test="sId != null  ">
		sId=#{sId},
	</if>
	<if test="createDate != null  ">
		createDate=#{createDate},
	</if>
	<if test="delDate != null  ">
		delDate=#{delDate},
	</if>
	<if test="orderId != null  ">
		orderId=#{orderId},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from carInfo where id = #{id}
</delete>

<delete id="deleteCarInfoByBatch" parameterType="java.util.List">
  		delete from carInfo
  		<where>
 		 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  				id=#item
    		</foreach>
  		</where>
  </delete>
 
<!-- 根据id查询 车辆信息表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from carInfo where id = #{id}
</select>

<!-- 车辆信息表 列表总数-->
<select id="queryCarInfoListCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from carInfo 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询车辆信息表列表 -->
<select id="queryCarInfoListByPage" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from carInfo 
	<include refid="Example_Where_Clause"/>
	<choose>
		<when test="orderField !=null and orderField !=''">
			 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
		</when>
		<otherwise>
			 order by id DESC
		</otherwise>
	</choose>
</select>
  	
</mapper>   
