<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.DataDictMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hxd.bean.DataDict" >
	<result column="id" jdbcType="INTEGER" property="id"/>
	<result column="pid" jdbcType="INTEGER" property="pid"/>
	<result column="dictSN" jdbcType="VARCHAR" property="dictSN"/>
	<result column="dictName" jdbcType="VARCHAR" property="dictName"/>
	<result column="attribute" jdbcType="LONGVARCHAR" property="attribute"/>
	<result column="sortNum" jdbcType="INTEGER" property="sortNum"/>
	<result column="status" jdbcType="INTEGER" property="status"/>
</resultMap>
       
<!-- dataDict table all fields -->
<sql id="Base_Column_List" >
	 id,pid,dictSN,dictName,attribute,sortNum,status
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="pid != null and pid != ''" >
	    and pid =  #{pid}
	</if>
	<if test="dictSN != null and dictSN != ''" >
	    and dictSN =  #{dictSN}
	</if>
	<if test="dictName != null and dictName != ''" >
	    and dictName =  #{dictName}
	</if>
	<if test="attribute != null and attribute != ''" >
	    and attribute =  #{attribute}
	</if>
	<if test="sortNum != null and sortNum != ''" >
	    and sortNum =  #{sortNum}
	</if>
	<if test="status != null and status != ''" >
	    and status =  #{status}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.hxd.bean.DataDict" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into dataDict(id,pid,dictSN,dictName,attribute,sortNum,status)
 values(#{id,jdbcType=INTEGER},#{pid,jdbcType=INTEGER},#{dictSN,jdbcType=VARCHAR},#{dictName,jdbcType=VARCHAR},#{attribute,jdbcType=LONGVARCHAR},#{sortNum,jdbcType=INTEGER},#{status,jdbcType=INTEGER})
</insert>

<insert id="insertSelective" parameterType="com.hxd.bean.DataDict" >
  insert into dataDict
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null ">
			id,
		</if>
		<if test="pid != null ">
			pid,
		</if>
		<if test="dictSN != null ">
			dictSN,
		</if>
		<if test="dictName != null ">
			dictName,
		</if>
		<if test="attribute != null ">
			attribute,
		</if>
		<if test="sortNum != null ">
			sortNum,
		</if>
		<if test="status != null ">
			status,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null ">
			#{id,jdbcType=INTEGER},
		</if>
		<if test="pid != null ">
			#{pid,jdbcType=INTEGER},
		</if>
		<if test="dictSN != null ">
			#{dictSN,jdbcType=VARCHAR},
		</if>
		<if test="dictName != null ">
			#{dictName,jdbcType=VARCHAR},
		</if>
		<if test="attribute != null ">
			#{attribute,jdbcType=LONGVARCHAR},
		</if>
		<if test="sortNum != null ">
			#{sortNum,jdbcType=INTEGER},
		</if>
		<if test="status != null ">
			#{status,jdbcType=INTEGER},
		</if>
	</trim>
</insert>

<!-- 根据id，修改记录-->  
 <update id="updateByPrimaryKey" parameterType="com.hxd.bean.DataDict" >
  update dataDict set pid=#{pid,jdbcType=INTEGER},dictSN=#{dictSN,jdbcType=VARCHAR},dictName=#{dictName,jdbcType=VARCHAR},attribute=#{attribute,jdbcType=LONGVARCHAR},sortNum=#{sortNum,jdbcType=INTEGER},status=#{status,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateByPrimaryKeySelective" parameterType="com.hxd.bean.DataDict" >
	update dataDict set 
	<trim  suffixOverrides="," >
	<if test="pid != null  ">
		pid=#{pid,jdbcType=INTEGER},
	</if>
	<if test="dictSN != null  ">
		dictSN=#{dictSN,jdbcType=VARCHAR},
	</if>
	<if test="dictName != null  ">
		dictName=#{dictName,jdbcType=VARCHAR},
	</if>
	<if test="attribute != null  ">
		attribute=#{attribute,jdbcType=LONGVARCHAR},
	</if>
	<if test="sortNum != null  ">
		sortNum=#{sortNum,jdbcType=INTEGER},
	</if>
	<if test="status != null  ">
		status=#{status,jdbcType=INTEGER},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	delete 	 from dataDict where id = #{id,jdbcType=INTEGER}
</delete>

<delete id="deleteByBatch" parameterType="java.util.List">
  		delete from dataDict
  		<where>
 		 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  				id=#item
    		</foreach>
  		</where>
  </delete>
 
<!-- 根据id查询 数据字典表 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from dataDict where id = #{id,jdbcType=INTEGER}
</select>

<!-- 数据字典表 列表总数-->
<select id="selectListCount" resultType="java.lang.Integer"  parameterType="map">
	select count(1) from dataDict 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询数据字典表列表 -->
<select id="selectListByPage" resultMap="BaseResultMap"  parameterType="map">
	select 
	<include refid="Base_Column_List"/>
	from dataDict 
	<include refid="Example_Where_Clause"/>
	<choose>
		<when test="orderField !=null and orderField !=''">
			 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
		</when>
		<otherwise>
			 order by id DESC
		</otherwise>
	</choose>
</select>
  	
</mapper>   
