<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.ItemRelationMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.hxd.bean.ItemRelation" >
	<result column="id" jdbcType="INTEGER" property="id"/>
	<result column="relationId" jdbcType="INTEGER" property="relationId"/>
	<result column="relationType" jdbcType="INTEGER" property="relationType"/>
	<result column="zcInDetailId" jdbcType="INTEGER" property="zcInDetailId"/>
</resultMap>
       
<!-- itemRelation table all fields -->
<sql id="Base_Column_List" >
	 id,relationId,relationType,zcInDetailId
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="relationId != null and relationId != ''" >
	    and relationId =  #{relationId}
	</if>
	<if test="relationType != null and relationType != ''" >
	    and relationType =  #{relationType}
	</if>
	<if test="zcInDetailId != null and zcInDetailId != ''" >
	    and zcInDetailId =  #{zcInDetailId}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.hxd.bean.ItemRelation" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into itemRelation(id,relationId,relationType,zcInDetailId)
 values(#{id,jdbcType=INTEGER},#{relationId,jdbcType=INTEGER},#{relationType,jdbcType=INTEGER},#{zcInDetailId,jdbcType=INTEGER})
</insert>

<insert id="insertSelective" parameterType="com.hxd.bean.ItemRelation" >
  insert into itemRelation
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null ">
			id,
		</if>
		<if test="relationId != null ">
			relationId,
		</if>
		<if test="relationType != null ">
			relationType,
		</if>
		<if test="zcInDetailId != null ">
			zcInDetailId,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null ">
			#{id,jdbcType=INTEGER},
		</if>
		<if test="relationId != null ">
			#{relationId,jdbcType=INTEGER},
		</if>
		<if test="relationType != null ">
			#{relationType,jdbcType=INTEGER},
		</if>
		<if test="zcInDetailId != null ">
			#{zcInDetailId,jdbcType=INTEGER},
		</if>
	</trim>
</insert>

<!-- 根据id，修改记录-->  
 <update id="updateByPrimaryKey" parameterType="com.hxd.bean.ItemRelation" >
  update itemRelation set relationId=#{relationId,jdbcType=INTEGER},relationType=#{relationType,jdbcType=INTEGER},zcInDetailId=#{zcInDetailId,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateByPrimaryKeySelective" parameterType="com.hxd.bean.ItemRelation" >
	update itemRelation set 
	<trim  suffixOverrides="," >
	<if test="relationId != null  ">
		relationId=#{relationId,jdbcType=INTEGER},
	</if>
	<if test="relationType != null  ">
		relationType=#{relationType,jdbcType=INTEGER},
	</if>
	<if test="zcInDetailId != null  ">
		zcInDetailId=#{zcInDetailId,jdbcType=INTEGER},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	delete 	 from itemRelation where id = #{id,jdbcType=INTEGER}
</delete>

<delete id="deleteByBatch" parameterType="java.util.List">
  		delete from itemRelation
  		<where>
 		 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  				id=#item
    		</foreach>
  		</where>
  </delete>
 
<!-- 根据id查询 类目关系表 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	 from itemRelation where id = #{id,jdbcType=INTEGER}
</select>

<!-- 类目关系表 列表总数-->
<select id="selectListCount" resultType="java.lang.Integer"  parameterType="map">
	select count(1) from itemRelation 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询类目关系表列表 -->
<select id="selectListByPage" resultMap="BaseResultMap"  parameterType="map">
	select 
	<include refid="Base_Column_List"/>
	from itemRelation 
	<include refid="Example_Where_Clause"/>
	<choose>
		<when test="orderField !=null and orderField !=''">
			 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
		</when>
		<otherwise>
			 order by id DESC
		</otherwise>
	</choose>
</select>
  	
</mapper>   
